
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Abyssinica SIL', serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.header{
    background: #FFF8F3;
    background-image: url("images/header_bg.png"); 
    background-repeat: no-repeat;
    background-position: bottom right;
    
    
}
.nav-container{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
    
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.text-color{
    color: #FD6E0A;
}
.menu-items{
    display: flex;
    list-style: none;
    align-items: center;
}
.menu-items li a{
    text-decoration: none;
}
.items a{
    margin-right: 51px;
    color: #474747;
    font-size: 20px;
    font-weight: 400;

}
.btn{
    width: 150px;
    height: 44px;
    border-radius: 5px;
    background: #FD6E0A;
    color:  #FFF;
    font-size: 20px;
    font-weight: 700;

}
.banner-main{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.banner-photo{
    width: 600px;
    
}
.title-gretting{
    color:#474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.title-1{
    color:#181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;

}
.description{
    color:#757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
    width: 585px;
}
.btn{
    margin-right: 54px;
}
.about-section{
    width: 1140px;
    margin: 130px 230px 0 230px;
    border-radius: 10px;
    background: #FFF8F3;
} 
.section-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-top: 131px;
    margin-bottom: 30px;
    
}
.section-desc{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 156px;
    padding-right: 157px;
    margin-bottom: 30px;
}
.about-info{
    display: flex;
    justify-content: space-around;
    padding:0  179px 131px 179px;
   
}
.info-part{
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    
}
.description-info{
    color:black;
    font-weight: bold;
}
.section-desc{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 345px;
    padding-right: 346px;
}
.Me-section-container{
    display: flex;
    justify-content: space-around;
    padding: 50px 260px 0 260px;
    
}
.me-section-content{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    width: 267px;
    height: 377px;
    margin-right: 24px;
    

}
.skills-photo{
    margin-top: 30px;
    padding-left: 30px;
}
.skills-title{
    padding-top: 30px;
    color: #181818;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
    
}
.skills-description{
    color: var(--dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding:0  33px 30px 33px;
}